body{
    background-color: #ECE8E8;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif;
}
A:link {
    text-decoration: none;
    color: white;
}
A:visited {
    text-decoration: none;
    color: white;
}
.ontop{
    position: fixed;
    margin-top: 46%;
    margin-left: 95%;
}
@media all and (not handheld){
.he1{
    border: 0px solid white;
    width: 100.8%;
    height: 60px;
    background-color: #171a21;
    margin-left: -0.4%;
    margin-top: -0.4%;
    position: fixed;
    }
    @media handheld{
        .he1{
        height:400px;
        }
    }
}
.he1_1{
    width:9%;
    height: 40%;
    text-align: center;
    border: 0px solid red;
    margin-top:17px;
    margin-left: 20%;
    padding-top: 5px;
    margin-bottom: 13px;
    float: left;   
}
.he1_1:hover{
    background-color:#282E3A;
     font-weight: bold;
}
.he1_2{
    width:9%;
    height: 40%;
    text-align: center;
    border: 0px solid red;
    margin-top:17px;
    margin-left: 15%;
    padding-top: 5px;
    margin-bottom: 13px;
    float: left; 
}
.he1_2:hover{
    background-color:#282E3A;
     font-weight: bold;
}

/*MAIN*/

.info1{
    height:900px;
    width: 100.8%;
    background-image: url("telefon.jpeg");
    margin-left: -0.4%;
    margin-top: 3px;
    
}
.info1-text1{
    color:white;
     height: auto;
     width: 900px;
     padding-top:21%;
    padding-left: 5%;
    font-size: 60px;
    font-family:DejaVu Sans Mono, monospace;
    
}
/*.info1-text{
    height: auto;
    width: 950px;
    padding-top:11%;
    padding-left: 48%;
    color:white;
    text-align: right;
    font-family:DejaVu Sans Mono, monospace;
    font-style: CENTURY SCHOOLBOOK;
    font-size:28px;
}*/



.about{
    height:800px;
    width: 100.8%;
    margin-left: -0.4%;
    background-image: url("about2.jpg");
    background-repeat: no-repeat;
}
.about-text1{
    height: auto;
    width: 200px;
    color: #2C2C2C;
    color:white;
    font-style: CENTURY SCHOOLBOOK;
    font-size:42px;
    padding-top: 5%;
    padding-left: 44%;
}
.about-text2{
    height: auto;
    width: auto;
    padding-top:7%;
    padding-left: 0%;
    color:white;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
    font-style: CENTURY SCHOOLBOOK;
    font-size:34px;
}

.assort{
    height:803px;
    width: 100.8%;
    margin-left: -0.4%;
    background: #1b2838;
}
.assort-text{
    height: auto;
    width: 200px;
    color:white;
    font-style: CENTURY SCHOOLBOOK;
    font-size:42px;
    padding-top: 5%;
    padding-left: 42%;
}
.tovar1{
    color:white;
    text-align: center;
    font-size:32px;
    width:400px;
    height:300px;
    float: left;
    margin-left:9%;
    margin-top: 8%;
}

.tovar-1{
    width:450px;
    height:50px;
    padding-top:2%;
    margin-left:-7%;
    
}
/*Футтер*/

.foot1{
    height: 100px;
    background-color:#171a21;
    width: 100.8%;
    margin-left: -0.4%;
}
.foot1-1{
    color:white;
    width: 400px;
    height: 50px;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
   /* padding-top: 1.5%;
    padding-left: 17%;*/
    float: left;
    margin-top:1.5%;
    margin-left:17%;
    
}
.foot1-2{
     color:white;
    width: 400px;
    height: 75px;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
   /* padding-top: 0.5%;
    padding-left:5%;*/
    float: left;
     margin-top:0.5%;
    margin-left:5%;
}
.foot1-3{
    color:white;
     /*padding-top: 2%;
    padding-left:7%;*/
     width: 150px;
    height: 25px;
    font-family:DejaVu Sans Mono, monospace;
    float: left;
    text-align:center;
     margin-top:2%;
    margin-left:7%;
    border: 0px;
}
.foot1-3:hover{
    background-color:#646464;
     font-weight: bold;
