body{
    background-color: #ECE8E8;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif;
}
A:link {
    text-decoration: none;
    color: white;
}
A:visited {
    text-decoration: none;
    color: white;
}

@media only screen  and (min-width: 1324px){ /* Комп */
.he1{
    border: 0px solid white;
    width: 100.8%;
    height: 60px;
    background-color: #171a21;
    margin-left: -0.4%;
    margin-top: -0.4%;
    position: fixed;
    }
    .he1_1{
    width:9%;
    height: 40%;
    text-align: center;
    border: 0px solid red;
    margin-top:17px;
    margin-left: 20%;
    padding-top: 5px;
    margin-bottom: 13px;
    float: left;   
    }
    .he1_2{
    width:9%;
    height: 40%;
    text-align: center;
    border: 0px solid red;
    margin-top:17px;
    margin-left: 15%;
    padding-top: 5px;
    margin-bottom: 13px;
    float: left; 
        }
    .ontop{
    position: fixed;
     bottom: 25;
    margin-left: 94%;
}
    .he1_1:hover{
    background-color:#282E3A;
     font-weight: bold;
    font-size: 1.2em;
}

.he1_2:hover{
    background-color:#282E3A;
     font-weight: bold;
    font-size: 1.2em;
}
    
}

@media screen and (max-device-width: 479px) and (max-device-height: 850px) and (orientation: portrait) { /* Телефон 1*/
    .he1{
    border: 0px solid white;
    width: 100.8%;
    height: 120px;
    background-color: #171a21;
    margin-left: -1%;
    margin-top: -1%;
    position: fixed;
        }
     .he1_1{
    width:20%;
    height: 30%;
    text-align: center;
    border: 0px solid red;
    margin-top:5%;
    margin-left: 8%;
    padding-top: 0px;
    margin-bottom: 13px;
    float: left;   
           font-size: 1.8em;
    } 
    .he1_2{
    width:23%;
    height: 30%;
    text-align: center;
    border: 0px solid red;
    margin-top:5%;
    margin-left: 10%;
    padding-top: 0px;
    margin-bottom: 13px;
    float: left;   
           font-size: 1.8em;
    } 
    .ontop{
        width: 50px;
        height: 50px;
    position: fixed;
     bottom: 65;
    margin-left: 92%;
    }
    .he1_1:hover{
    background-color:#282E3A;
     font-weight: bold;
    font-size: 2em;
}

.he1_2:hover{
    background-color:#282E3A;
     font-weight: bold;
    font-size: 2em;
}
    
}

@media screen and (min-device-width: 480px) and (max-device-width: 820px) and (min-device-height: 851px) and (max-device-height: 1400px) and (orientation: portrait) { /* Телефон 2*/
    .he1{
    border: 0px solid white;
    width: 100.8%;
    height: 120px;
    background-color: #171a21;
    margin-left: -1%;
    margin-top: -1%;
    position: fixed;
        }
     .he1_1{
    width:20%;
    height: 30%;
    text-align: center;
    border: 0px solid red;
    margin-top:5%;
    margin-left: 8%;
    padding-top: 0px;
    margin-bottom: 13px;
    float: left;   
           font-size: 1.8em;
    } 
    .he1_2{
    width:23%;
    height: 30%;
    text-align: center;
    border: 0px solid red;
    margin-top:5%;
    margin-left: 10%;
    padding-top: 0px;
    margin-bottom: 13px;
    float: left;   
           font-size: 1.8em;
    } 
    .ontop{
        width: 50px;
        height: 50px;
    position: fixed;
     bottom: 65;
    margin-left: 92%;
}
    .he1_1:hover{
    background-color:#282E3A;
     font-weight: bold;
    font-size: 2em;
}

.he1_2:hover{
    background-color:#282E3A;
     font-weight: bold;
    font-size: 2em;
}
    
}
 


/*MAIN*/                                                                                         /*MAIN*/

@media only screen  and (min-width: 1324px){                                                    /* Комп */
.info1{
    height:900px;
    width: 100.8%;
    background-image: url("telefon.jpeg");
    margin-left: -0.4%;
    margin-top: 3px;
    
    }
.info1-text1{
    color:white;
     height: auto;
     width: 900px;
     padding-top:21%;
    padding-left: 5%;
    font-size: 60px;
    font-family:DejaVu Sans Mono, monospace;
    
}
/*.info1-text{
    height: auto;
    width: 950px;
    padding-top:11%;
    padding-left: 48%;
    color:white;
    text-align: right;
    font-family:DejaVu Sans Mono, monospace;
    font-style: CENTURY SCHOOLBOOK;
    font-size:28px;
}*/



.about{
    height:800px;
    width: 100.8%;
    margin-left: -0.4%;
    background-image: url("about2.jpg");
    background-repeat: no-repeat;
}
.about-text1{
    height: auto;
    width: 200px;
    color: #2C2C2C;
    color:white;
    font-style: CENTURY SCHOOLBOOK;
    font-size:42px;
    padding-top: 5%;
    padding-left: 44%;
}
.about-text2{
    height: auto;
    width: auto;
    padding-top:7%;
    padding-left: 0%;
    color:white;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
    font-style: CENTURY SCHOOLBOOK;
    font-size:34px;
}

.assort{
    height:803px;
    width: 100.8%;
    margin-left: -0.4%;
    background: #1b2838;
}
.assort-text{
    height: auto;
    width: 200px;
    color:white;
    font-style: CENTURY SCHOOLBOOK;
    font-size:42px;
    padding-top: 5%;
    padding-left: 42%;
}
.tovar1{
    color:white;
    text-align: center;
    font-size:32px;
    width:400px;
    height:300px;
    float: left;
    margin-left:9%;
    margin-top: 6%;
}

.tovar-1{
    width:450px;
    height:50px;
    padding-top:4%;
    margin-left:-7%;
    margin-top:3%;
    }
    
    .tovar_img{
       display: inline;
  width: 400px;
  height: 300px;
    }
    
    .tovar_img:hover {
        box-shadow: 0 0 2px 5px #324966;
        width: 410px;
        height: 310px;
        margin-left:-1%;
}
}

@media screen and (max-device-width: 479px) and (max-device-height: 850px) and (orientation: portrait){         /* Телефон 1*/
    
    .info1{
    height:97%;
    width: 102%;
    background-image: url("telefon.jpeg");
    margin-left: -1%;
    margin-top: 3px;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: 38% 50%;
    
    }
.info1-text1{
    color:white;
     height: auto;
     width: 90%;
     padding-top:60%;
    padding-left: 5%;
    font-size: 7em;
    font-family:DejaVu Sans Mono, monospace;
    text-align: center;
    line-height: 1.5em;
    
}
 .about{
    height:90%;
    width: 102%;
    margin-left: -1%;
    background-image: url("about2.jpg");
    background-repeat: no-repeat;   
     background-size:cover;
    }
    .about-text1{
    height: auto;
    width: auto;
    color: #2C2C2C;
    color:white;
    font-style: CENTURY SCHOOLBOOK;
    font-size:6em;
    padding-top: 20%;
    padding-left: 30%;
}
.about-text2{
    height: auto;
    width: auto;
    padding-top:20%;
    padding-left: 0%;
    color:white;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
    font-style: CENTURY SCHOOLBOOK;
    font-size:3.5em;
}
    .assort{
    height:118%;
    width: 102%;
    margin-left: -1%;
    background: #1b2838;
}
.assort-text{
    height: auto;
    width: auto;
    color:white;
    font-style: CENTURY SCHOOLBOOK;
    font-size:5em;
    padding-top: 6%;
    padding-left: 21%;
    margin-bottom: 2%;
}
    .tovar1{
    color:white;
    text-align: center;
    font-size:3.5em;
    width:auto;
    height:auto;
    float: left;
    margin-left:9%;
    margin-top: 5%;
    margin-left: 0%;
}

.tovar-1{
    width:auto;
    height:auto;
    padding-top:2%;
    margin-left:0%;
    
    }
    .tovar_img{
       display: inline;
  width: 60%;
  height: 23%;
    }
    
}
@media screen and (min-device-width: 480px) and (max-device-width: 820px) and (min-device-height: 851px) and (max-device-height: 1400px) and (orientation: portrait) {  /* Телефон 2*/
 .info1{
    height:97%;
    width: 102%;
    background-image: url("telefon.jpeg");
    margin-left: -1%;
    margin-top: 3px;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: 38% 50%;
    
    }
.info1-text1{
    color:white;
     height: auto;
     width: 90%;
     padding-top:60%;
    padding-left: 5%;
    font-size: 7em;
    font-family:DejaVu Sans Mono, monospace;
    text-align: center;
    line-height: 1.5em;
    
}
 .about{
    height:90%;
    width: 102%;
    margin-left: -1%;
    background-image: url("about2.jpg");
    background-repeat: no-repeat;   
     background-size:cover;
    }
    .about-text1{
    height: auto;
    width: auto;
    color: #2C2C2C;
    color:white;
    font-style: CENTURY SCHOOLBOOK;
    font-size:6em;
    padding-top: 20%;
    padding-left: 30%;
}
.about-text2{
    height: auto;
    width: auto;
    padding-top:20%;
    padding-left: 0%;
    color:white;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
    font-style: CENTURY SCHOOLBOOK;
    font-size:3.5em;
}
    .assort{
    height:118%;
    width: 102%;
    margin-left: -1%;
    background: #1b2838;
}
.assort-text{
    height: auto;
    width: auto;
    color:white;
    font-style: CENTURY SCHOOLBOOK;
    font-size:5em;
    padding-top: 6%;
    padding-left: 21%;
    margin-bottom: 2%;
}
    .tovar1{
    color:white;
    text-align: center;
    font-size:3.5em;
    width:auto;
    height:auto;
    float: left;
    margin-left:9%;
    margin-top: 5%;
    margin-left: 0%;
}

.tovar-1{
    width:auto;
    height:auto;
    padding-top:2%;
    margin-left:0%;
    
    }
    .tovar_img{
       display: inline;
  width: 60%;
  height: 23%;
    }
    
}

   /*Футтер*/                                                                                          /*Футтер*/
@media only screen  and (min-width: 1324px){                                                          /* Комп */
.foot1{
    height: 100px;
    background-color:#171a21;
    width: 100.8%;
    margin-left: -0.4%;
}
.foot1-1{
    color:white;
    width: 400px;
    height: 50px;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
   /* padding-top: 1.5%;
    padding-left: 17%;*/
    float: left;
    margin-top:1.5%;
    margin-left:17%;
    
}
.foot1-2{
     color:white;
    width: 400px;
    height: 75px;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
   /* padding-top: 0.5%;
    padding-left:5%;*/
    float: left;
     margin-top:0.5%;
    margin-left:5%;
}
.foot1-3{
    color:white;
     /*padding-top: 2%;
    padding-left:7%;*/
     width: 150px;
    height: 25px;
    font-family:DejaVu Sans Mono, monospace;
    float: left;
    text-align:center;
     margin-top:2%;
    margin-left:7%;
    border: 0px;
}
.foot1-3:hover{
    background-color:#646464;
     font-weight: bold;
    }
}
    
    
    @media screen and (max-device-width: 479px) and (max-device-height: 850px) and (orientation: portrait) { /* Телефон 1*/
        
      .foot1{
    height: 12%;
    background-color:#171a21;
    width: 102%;
    margin-left: -1%;
}
.foot1-1{
    color:white;
    width: 25%;
    height: 50px;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
   /* padding-top: 1.5%;
    padding-left: 17%;*/
    padding-top: 5%;
    margin-left:4%;
    font-size: 1.4em;
    float:left;
}
.foot1-2{
     color:white;
    width: 25%;
    height: 75px;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
   /* padding-top: 0.5%;
    padding-left:5%;*/
    float: left;
    padding-top: 1%;
    margin-left:10%;
    font-size: 1.4em;
    margin-top:1%;
}
.foot1-3{
    color:white;
     /*padding-top: 2%;
    padding-left:7%;*/
     width: 20%;
    height: 25px;
    font-family:DejaVu Sans Mono, monospace;
    float: left;
    text-align:center;
     margin-top:4%;
    margin-left:10%;
    padding-top: 4%;
    border: 0px;
    font-size: 1.4em;
}
.foot1-3:hover{
    background-color:#646464;
     font-weight: bold;
    } 
            
    }

@media screen and (min-device-width: 480px) and (max-device-width: 820px) and (min-device-height: 851px) and (max-device-height: 1400px) and (orientation: portrait) {  /* Телефон 2*/
    
     .foot1{
    height: 12%;
    background-color:#171a21;
    width: 102%;
    margin-left: -1%;
}
.foot1-1{
    color:white;
    width: 25%;
    height: 50px;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
   /* padding-top: 1.5%;
    padding-left: 17%;*/
    padding-top: 5%;
    margin-left:4%;
    font-size: 1.4em;
    float:left;
}
.foot1-2{
     color:white;
    width: 25%;
    height: 75px;
    text-align:center;
    font-family:DejaVu Sans Mono, monospace;
   /* padding-top: 0.5%;
    padding-left:5%;*/
    float: left;
    padding-top: 1%;
    margin-left:10%;
    font-size: 1.4em;
    margin-top:1%;
}
.foot1-3{
    color:white;
     /*padding-top: 2%;
    padding-left:7%;*/
     width: 20%;
    height: 25px;
    font-family:DejaVu Sans Mono, monospace;
    float: left;
    text-align:center;
     margin-top:4%;
    margin-left:10%;
    padding-top: 4%;
    border: 0px;
    font-size: 1.4em;
}
.foot1-3:hover{
    background-color:#646464;
     font-weight: bold;
    } 
}
